# classwork 5

In [5]:
import pandas as pd
df = pd.read_json("C:/Users/User/Downloads/Arts_Crafts_and_Sewing_5.json",lines=True)
df.sample(10)

,overall,verified,reviewTime,reviewerID,asin,style,reviewerName,reviewText,summary,unixReviewTime,vote,image
339912,5,True,"04 20, 2017",AB044QCJ6EEXU,B00KMSE100,{'Color:': ' 2-lens 30x 60x'},jim,As good as a microscope for looking at coins f...,Best loupe yet!,1492646400,NaN,NaN
264467,5,True,"10 9, 2015",A3QQ4CDJB561L4,B008N0BG1G,"{'Size:': ' 45 ml Bottles', 'Color:': ' Turquo...",Susan Tomlinson,These are my favorite paints- so unusual and t...,Five Stars,1444348800,2,NaN
130706,5,True,"07 17, 2015",A122CJKLIDY7WQ,B0018BSFP2,"{'Size:': ' 1 Pack', 'Color:': ' Royal'}",april,Good buy for the price. Good quality and goes ...,Good Buy!,1437091200,NaN,NaN
196829,3,True,"12 30, 2015",A1C6GQJE9IZ8GS,B003PRMNIM,NaN,Live Aloha,"As other reviewers had mentioned, the quality ...","A disappointment - poor construction, bad qual...",1451433600,5,NaN
229951,4,True,"08 4, 2016",A6EX54P3G3YH,B005BEGVZ8,NaN,Debra Jefferson,love it,Four Stars,1470268800,NaN,NaN
405463,5,True,"03 28, 2017",A35BKLDD2E04E6,B01CF6T7UU,"{'Size:': ' Fat Quarters', 'Color:': ' Spring ...",Sonia,"very nice,great price.using for quilt",nice colors,1490659200,NaN,NaN
422208,5,True,"06 9, 2017",A3OOJ75BUMDZKM,B000V5Q8ZA,{'Color:': ' Violet'},Denise W,I love this cotton yarn and use it all my kitc...,Love it!,1496966400,NaN,NaN
265716,5,True,"12 12, 2014",A38N54IGTA28RX,B008UDT0ZK,NaN,Kristie Osborne,Great price and great product!,Five Stars,1418342400,NaN,NaN
358083,1,True,"01 30, 2016",A2F6G3JZNTCNC1,B00PI0T25Q,NaN,Saltwater Soul,These worked terribly. The tail that hangs off...,These worked terribly. The tail that hangs off...,1454112000,NaN,NaN
294227,5,True,"07 17, 2016",AM6692VEQFESD,B00CHUDLGG,NaN,Teresa Young,Very nice,Sturdy snaps,1468713600,NaN,NaN

# Get the Bing Liu lexicon

In [6]:
from sklearn import preprocessing
import nltk
nltk.download('opinion_lexicon')
from nltk.corpus import opinion_lexicon
from nltk.tokenize import word_tokenize
print('Total number of words in opinion lexicon', len(opinion_lexicon.words()))
print('Examples of positive words in opinion lexicon',
opinion_lexicon.positive()[:10])
print('Examples of negative words in opinion lexicon',
opinion_lexicon.negative()[:10])

Total number of words in opinion lexicon 6789
Examples of positive words in opinion lexicon ['a+', 'abound', 'abounds', 'abundance', 'abundant', 'accessable', 'accessible', 'acclaim', 'acclaimed', 'acclamation']
Examples of negative words in opinion lexicon ['2-faced', '2-faces', 'abnormal', 'abolish', 'abominable', 'abominably', 'abominate', 'abomination', 'abort', 'aborted']

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!

# creating the dictionary

In [7]:
# Let's create a dictionary which we can use for scoring our review text
nltk.download('punkt')
df.rename(columns={"reviewText": "text"}, inplace=True)
pos_score = 1
neg_score = -1
word_dict = {}
# Adding the positive words to the dictionary
for word in opinion_lexicon.positive():
  word_dict[word] = pos_score
# Adding the negative words to the dictionary
for word in opinion_lexicon.negative():
  word_dict[word] = neg_score

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

# function to do math

In [8]:
def bing_liu_score(text):
    sentiment_score = 0
    bag_of_words = word_tokenize(text.lower())
    for word in bag_of_words:
         if word in word_dict:
                sentiment_score += word_dict[word]
    return sentiment_score

# Make sure all texts are non-empty and are type text then call the function

In [12]:
df['text'].fillna('no review', inplace=True)
df['Bing_Liu_Score'] = df['text'].apply(bing_liu_score)

# Letâ€™s see the output

In [13]:
df[['overall',"text", 'Bing_Liu_Score']].head(10)

   overall                                               text  Bing_Liu_Score
0        4                Contains some interesting stitches.               1
1        5  I'm a fairly experienced knitter of the one-co...              22
2        4  Great book but the index is terrible. Had to w...               0
3        5  I purchased the Kindle edition which is incred...               4
4        5  Very well laid out and very easy to read.\n\nT...               5
5        5  Beginning her career as a freelance knitter, M...              15
6        5  This is a terrific stitch handbook (and I have...               9
7        4  The book needs to be coil bound. The content i...               1
8        5  I really am enjoying this book! I like the siz...              12
9        5  Just received this book and looked over it cov...               6

In [14]:
df.groupby('overall').agg({'Bing_Liu_Score':'mean'})

         Bing_Liu_Score
overall
1             -0.255049
2              0.566098
3              1.158796
4              2.028146
5              2.130005